@model IEnumerable<ApiCargaWebInterface.ViewModels.ShapeConfigViewModel>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShapeConfigID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepositoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Shape)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShapeConfigID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RepositoryID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shape)
                </td>
                <td>
                    <a href="@Url.Action("Details", "ShapeConfig", new {  id=item.ShapeConfigID  })" class="ver"><i class="material-icons">remove_red_eye</i></a>
                    <a href="@Url.Action("Edit", "ShapeConfig", new {  id=item.ShapeConfigID  })" class="editar"><i class="material-icons">mode_edit</i></a>
                    <a href="@Url.Action("Delete", "ShapeConfig", new {  id=item.ShapeConfigID  })" class="borrar"><i class="material-icons">delete</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
