@model IEnumerable<ApiCargaWebInterface.ViewModels.RecurringJobViewModel>

@if (Model != null && Model.Count() > 0)
{
    <div class="items tabla">
        <div class="cabecera">
            <div class="columna">
                <p>Nombre</p>
            </div>
            <div class="columna">
                <p>Proxima ejecución</p>
            </div>
            <div class="columna">
                <p>Expresión cron</p>
            </div>
            <div class="columna acciones">
                <p>Acciones</p>
            </div>
        </div>
        @foreach (var recurringJob in Model)
        {
    <div class="fila">
        <div class="columna principal">
            <a href="@Url.Action("DetailsRecurringJob", "Job",new { name = recurringJob.Id })">
                <p>@recurringJob.Id</p>
            </a>
        </div>
        <div class="columna">
            <p>@recurringJob.NextExecution</p>
        </div>
        <div class="columna">
            <p>@recurringJob.Cron</p>
        </div>
        <div class="columna acciones">
            <ul>
                @*<li>
                    <a href="@Url.Action("Details", "ShapeConfig", new {  id=shape.ShapeConfigID  })" class="ver">
                        <i class="material-icons">remove_red_eye</i>
                    </a>
                </li>
                <li>
                    <a href="@Url.Action("Edit", "ShapeConfig", new {  id=shape.ShapeConfigID  })" class="editar">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </li>*@
                <li>
                    <a href="@Url.Action("Delete", "Job", new {  id=recurringJob.Id, job="recurring"  })" class="borrar">
                        <i class="material-icons">delete</i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
        }
    </div>
}
