@model ApiCargaWebInterface.ViewModels.RepositoryConfigViewModel

@{
    ViewData["Title"] = Model.Name + " - Repositorio";
    ViewData["BodyClass"] = "fichaRecurso";

    var modeloShape = new ApiCargaWebInterface.ViewModels.ShapeConfigCreateModel();
    var modeloJob = new ApiCargaWebInterface.ViewModels.CreateJobViewModel();
    modeloShape.RepositoryID = Model.RepositoryConfigID;
    modeloJob.IdRepository = Model.RepositoryConfigID;
}


    <div class="row">
        <div class="col col-12 col-lg-12 col-contenido">
            <div class="wrapCol">
                <div class="header-resource">
                    <div class="h1-container">
                        <h1>@Model.Name</h1>
                        <a href="javascript: void(0);" class="btn btn-sincronizar">Sincronizar</a>
                    </div>
                </div>
                <div class="contenido">
                    <div class="grupo grupo-descripcion">
                        <div class="identifier">
                            <p class="titulo">Identifier</p>
                            <p>@Model.RepositoryConfigID</p>
                        </div>
                        <div class="outh-token">
                            <p class="titulo">Oauth token</p>
                            <p>@Model.OauthToken</p>
                        </div>
                        <div class="outh-token">
                            <p class="titulo">Url</p>
                            <p>@Model.Url</p>
                        </div>
                    </div>
                    <div class="grupo grupo-programacion">
                        <h2>Tareas de sincronización</h2>
                        <a href="@Url.Action("Create", "Job", modeloJob)" class="btn btn-programacion">Crear nueva tarea de sincronización</a>
                        @*<partial name="_ListTareas" model="@Model.ShapeConfig" />*@
                    </div>
                    <div class="grupo grupo-programacion">
                        <h2>Shapes</h2>
                        <a href="@Url.Action("Create", "ShapeConfig", modeloShape)" class="btn btn-programacion">Crear nuevo Shape</a>
                        <partial name="_ListShapes" model="@Model.ShapeConfig" />
                    </div>
                </div>
            </div>
        </div>
    </div>


