@model IEnumerable<ApiCargaWebInterface.ViewModels.RepositoryConfigViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="wrapCol">
    <div class="resource-list compacView">
        <div class="wrap">
            @foreach (var item in Model)
            {
               <article class="resource resource-ficharepositorio">
                   <div class="wrap">
                       <p class="tipo">@Html.DisplayFor(modelItem => item.RepositoryConfigID)</p>
                       <h2>
                           <a href="@Url.Action("Details", new {  id=item.RepositoryConfigID  })">@Html.DisplayFor(modelItem => item.Name)</a>
                       </h2>
                       <div class="desc">
                           <p>@Html.DisplayFor(modelItem => item.OauthToken)</p>
                           <p>@Html.DisplayFor(modelItem => item.Url)</p>
                       </div>
                       <div class="columna acciones">
                           <ul>
                               <li>
                                   <a href="@Url.Action("Edit", new {  id=item.RepositoryConfigID  })" class="editar"><i class="material-icons">mode_edit</i></a>
                               </li>
                               <li>
                                   <a href="@Url.Action("Delete", new {  id=item.RepositoryConfigID  })" class="borrar"><i class="material-icons">delete</i></a>
                               </li>
                           </ul>
                       </div>
                   </div>
               </article>
            }
        </div>
    </div>
</div>