@model Linked_Data_Server.Models.Entities.SearchModelTemplate

@{
    ViewData["BodyClass"] = "Buscador";
}
<div>
    <h1>@ViewData["Title"]</h1>
    <table>
        <tr>
            <th>Nombre</th>
            <th>rdfType</th>
        </tr>

        @foreach (var entity in Model.entidades)
        {
            <tr>
                <td><a href="@entity.Key" target="_blank">@entity.Value.name</a></td>
                <td>@entity.Value.rdfType</td>
            </tr>
        }


    </table>
    @if (Model.paginaAnterior != 0)
    {
        <a class="btn"href="@Context.Request.Path?q=@Context.Request.Query["q"]&pagina=@Model.paginaAnterior">Anterior</a>
    }
    @if (Model.paginaSiguiente != 0)
    {
        <a class="btn" href="@Context.Request.Path?q=@Context.Request.Query["q"]&pagina=@Model.paginaSiguiente">Siguiente</a>
    }
</div>