<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link runat="server" rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <title>@ViewData["Title"] - Hércules</title>

    <!--Default-->
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;display=swap" rel="stylesheet">
    <!-- MATERIAL ICONS -->
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&amp;op0ubx" media="all">
    <!-- BOOTSTRAP 4 + PROPELLER -->
    @*<link rel="stylesheet" href="~/theme/libraries/bootstrap/bootstrap.min.css">*@
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/theme/libraries/propeller/css/propeller.min.css" media="screen" type="text/css">
    <!-- LIGHTGALLERY -->
    <link media="screen" type="text/css" rel="stylesheet" href="~/theme/libraries/lightgallery/css/lightgallery.min.css">
    <!-- PERSONALIZACION TEMA -->
    <link media="screen" type="text/css" rel="stylesheet" href="~/theme/theme.css">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/theme/static/style.css">
    <link rel="stylesheet" href="~/theme/static/style2.css">
    <link rel="stylesheet" href="~/theme/static/proyecto-fair.css">
    <!-- PERSONALIZACION Javi -->
    <link media="screen" type="text/css" rel="stylesheet" href="~/theme/checkbox_javi.css">
    <link rel="stylesheet" href="~/theme/yasgui_textarea.css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="noindex,nofollow">
    @Html.Raw(@ViewData["link_scripts"])
    @Html.Raw(@ViewData["MetaData"])
    <style>
        .cke {
            visibility: hidden;
        }
    </style>
</head>
<body class="@ViewData["BodyClass"] comunidad usuarioConectado" cz-shortcut-listen="true">
    <nav class="navbar navbar-default">
        <div class="nav-logos">
            <ul>
                <li>
                    <a href="javascript: void(0);">
                        <img src="~/theme/resources/logo-ministerio.png" alt="Ministerio">
                    </a>
                </li>
                <li>
                    <div class="presentacion">
                        <p class="titulo">Fondo de Desarrollo Regional (FEDER)</p>
                        <p>Una manera de hacer Europa</p>
                    </div>
                    <a href="javascript: void(0);">
                        <img src="~/theme/resources/logo-ue.png" alt="Union Europea">
                    </a>
                </li>
            </ul>
        </div>
        <partial name="_menupersonalizado" />
    </nav>
    @*<main role="main">*@
    @Html.Raw(@ViewData["SecondaryMenu"])
    <div class="container" id="contenido-principal">

        @RenderBody()
    </div>
    @*</main>*@

<footer>
    <div class="container-fluid">
        <div class="col col-12 col-logo">
            <img src="~/theme/resources/logo-um-peq.png" alt="Universidad Murcia">
        </div>
        <div class="col col-12 col-md-6 col-informacion">
            <ul>
                <li>
                    <a href="javascript: void(0);">Universidad de Murcia</a>
                </li>
                <li>
                    Avda. Teniente Flomesta, 5 · 30003 · Murcia
                </li>
                <li>
                    Teléfono: +34 868 88 3000 (Centralita) / +34 868 88 8888 (Información)
                </li>
            </ul>
        </div>
        <div class="col col-12 col-md-6 col-enlaces">
            <ul class="destacado">
                <li>
                    <a href="javascript: void(0);">Departamentos</a>
                </li>
                <li>
                    <a href="javascript: void(0);">Servicios</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="javascript: void(0);">Aula Virtual</a>
                </li>
                <li>
                    <a href="javascript: void(0);">Buzón Universitario</a>
                </li>
                <li>
                    <a href="javascript: void(0);">Lucha contra el fraude</a>
                </li>
                <li>
                    <a href="javascript: void(0);">Sistema DUMBO</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="javascript: void(0);">Accesibilidad</a>
                </li>
                <li>
                    <a href="javascript: void(0);">Cómo llegar</a>
                </li>
                <li>
                    <a href="javascript: void(0);">Emergencias</a>
                </li>
                <li>
                    <a href="javascript: void(0);">Ayuda</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
    <!--Default-->
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/theme/static/proyecto-fair.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
