@model ApiCargaWebInterface.ViewModels.PublishRepositoryModel
@{

    ViewData["Title"] = "Obtener RDF";

    ViewData["BodyClass"] = "formulario";
}

    <div class="row">
        <div class="col col-12 col-lg-12 col-contenido">
            <div class="wrapCol">
                <div class="header-resource">
                    <div class="h1-container">
                        <h1>Administración > <a href="@Url.Action("Index", "RepositoryConfig")">Repositorios</a> > <a href="@Url.Action("Details", "RepositoryConfig", new { id = Model.RepositoryId })">@Model.NameRepository</a> > Obtener RDF</h1>
                    </div>
                </div>
                <form asp-action="GetRDF" method="get">
                    <div class="fieldset fieldset01">
                        <fieldset class="mediumLabels">
                            <div class="fieldsetContent">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="Id" class="control-label">Identificador del Item</label>
                                    <input placeholder="Introduce el identificador del item..." asp-for="Id" class="form-control" />
                                    <span asp-validation-for="Id" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label for="metadataPrefix" class="control-label">Prefijo del Metadata</label>
                                    <select id="metadataPrefix" name="metadataPrefix" class="form-control">
                                        @foreach (string pref in Model.listaMetadataFormats)
                                        {
                                            <option value="@pref">@pref</option>
                                        }
                                    </select>
                                </div>

                                <div class="form-group" hidden>
                                    <label asp-for="RepositoryId" class="control-label"></label>
                                    <input asp-for="RepositoryId" class="form-control" readonly />
                                    <span asp-validation-for="RepositoryId" class="text-danger"></span>
                                </div>
                                <div class="fieldset actionButtons fieldset03">
                                    <fieldset>
                                        <p>
                                            <input class="submit principal" type="submit" value="Obtener RDF">
                                        </p>
                                    </fieldset>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
                <a class="btn" href="@Url.Action("ListarIdentifiers", new {repository = Model.RepositoryId })">&nbsp;&lt;&lt;&nbsp;&nbsp;Listar Identificadores</a>
                <a class="btn" href="@Url.Action("ValidarRdf", new {repository = Model.RepositoryId })">&nbsp;Validar RDF&nbsp;&nbsp;&gt;&gt;</a>
            </div>
        </div>
    </div>
