@model ApiCargaWebInterface.ViewModels.PublishRepositoryModel
@{
    ViewData["Title"] = "Validar RDF";
    ViewData["BodyClass"] = "formulario";
}

<div class="row">
    <div class="col col-12 col-lg-12 col-contenido">
        <div class="wrapCol">
            <div class="header-resource">
                <div class="h1-container">
                    <h1>Administración > <a href="@Url.Action("Index","RepositoryConfig")">Repositorios</a> > <a href="@Url.Action("Details","RepositoryConfig",new { id=Model.RepositoryId})">@Model.NameRepository</a> > Validar un RDF</h1>
                </div>
            </div>
            <form asp-action="ValidateRdf" method="post" enctype="multipart/form-data">
                <div class="fieldset fieldset01">
                    <fieldset class="mediumLabels">
                        <div class="fieldsetContent">
                            <div class="form-group">
                                @if (!string.IsNullOrEmpty(Model.Result))
                                {
                                    <p class="list-group-item-success">@Model.Result</p>
                                }
                                <div class="form-group" hidden>
                                    <label asp-for="RepositoryId" class="control-label"></label>
                                    <input asp-for="RepositoryId" class="form-control" readonly />
                                    <span asp-validation-for="RepositoryId" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label for="rdfToValidate" class="control-label">RDF a validar</label>
                                    <input type="file" for="rdfToValidate" class="form-control" id="rdfToValidate" name="rdfToValidate" />
                                </div>
                                <div class="form-group">
                                    <label for="validationRDF" class="control-label">RDF de validación</label>
                                    <input type="file" for="validationRDF" class="form-control" id="validationRDF" name="validationRDF" />
                                </div>
                                <div class="form-group">
                                    <h6>Elige de entre los shapes configurados en el repositorio los que quieres usar para esta validación</h6>
                                    @foreach (var shape in Model.RepositoryShapes)
                                    {
                                        <input type="checkbox" id="@shape.Name" name="shapesList" value="@shape.ShapeConfigID">
                                        <label for="@shape.Name">@shape.Name</label>
                                        <br />
                                    }
                                </div>
                            </div>
                            <div class="fieldset actionButtons fieldset03">
                                <fieldset>
                                    <p>
                                        <input class="submit principal" type="submit" value="Validar RDF">
                                    </p>
                                </fieldset>
                            </div>                            
                        </div>
                    </fieldset>
                </div>
            </form>
            <a href="@Url.Action("ObtenerRdf", new { repository = Model.RepositoryId })"> &#60;-- Obtener RDF</a> <a href="@Url.Action("PublicarRdf", new { repository = Model.RepositoryId })"> Publicar RDF --></a>
        </div>
    </div>
</div>
