@model IEnumerable<ApiCargaWebInterface.ViewModels.CreateRecurringJobViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdRepository)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_job)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaIinicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CronExpression)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecuteInmediatly)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdRepository)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_job)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaIinicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CronExpression)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecuteInmediatly)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
