@model Linked_Data_Server.Models.Entities.EntityModelTemplate

@{
    ViewData["BodyClass"] = "fichaRecurso";

}
<script>

    var datosGraficas =@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.arborGraphs));

</script>

<div class="row">
    <div class="col col-12 col-lg-12 col-contenido">
        <div class="wrapCol">
            <div class="header-resource">
                <div class="h1-container">
                    <h1>@ViewData["Title"]</h1>
                </div>
            </div>
            @if (Model.linkedDataRDF != null)
            {
                int i = 0;
                foreach (Linked_Data_Server.Models.Entities.LinkedDataRdfViewModel entity in Model.linkedDataRDF)
                {
                    if (i == 1)
                    {
                        PintarTablas(Model.tables);
                        PintarArborGraphs(Model.arborGraphs);
                        <h2>Entidades relacionadas</h2>
                    }
                    PintarItem(entity, i > 0, Model.propsTransform);
                    i++;
                }
                if (i == 1)
                {
                    PintarTablas(Model.tables);
                    PintarArborGraphs(Model.arborGraphs);
                }
            }

        </div>
    </div>
</div>


@functions
{
    void PintarItem(Linked_Data_Server.Models.Entities.LinkedDataRdfViewModel pItem, bool pEntityLink, List<Linked_Data_Server.Models.Services.Config_Linked_Data_Server.PropertyTransform> pPropsTransform)
    {

        <div class="contenido">
            <div class="grupo grupo-descripcion">
                <div class="estado-tarea">

                    <table class="rdftable">
                        <thead class="table-subject">
                            <tr>
                                <th scope="col" colspan="2">
                                    @if (pEntityLink)
                                    {
                                        <span id="@pItem.uriEntity"><a href="@pItem.uriEntity">@pItem.uriEntity</a></span>
                                    }
                                    else
                                    {
                                        <span id="@pItem.uriEntity">@pItem.uriEntity</span>
                                    }
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var stringProperty in pItem.stringPropertiesEntity)
                            {
                                foreach (var valor in stringProperty.Value)
                                {
                                    string propiedadAbreviada = stringProperty.Key;
                                    if (propiedadAbreviada.Contains("/"))
                                    {
                                        propiedadAbreviada = propiedadAbreviada.Substring(propiedadAbreviada.LastIndexOf("/") + 1);
                                    }
                            <tr>
                                @{
                                    String title = "";
                                }

                                @if (pItem.communNamePropierties.ContainsKey(stringProperty.Key))
                                {
                                    title = pItem.communNamePropierties[stringProperty.Key];
                                }

                                <td class="" title="@title">
                                    @if (!string.IsNullOrEmpty(title))
                                    {
                                        <strong>@title</strong>
                                    }
                                    else
                                    {
                                        <strong>@propiedadAbreviada</strong>
                                    }
                                    <a href="@stringProperty.Key" target="_blank"><span class="linkext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                </td>

                                @if (pItem.urisRdf.Contains(valor))
                                {
                                    string nombre = valor;
                                    @if (pItem.entitiesNames.ContainsKey(valor))
                                    {
                                        nombre = pItem.entitiesNames[valor];
                                    }
                                    <td>
                                        <a href="@valor">
                                            @nombre
                                        </a>
                                    </td>
                                }
                                else
                                {
                                    if (stringProperty.Key == "http://www.w3.org/1999/02/22-rdf-syntax-ns#type")
                                    {
                                        title = "";

                                        if (pItem.communNamePropierties.ContainsKey(stringProperty.Key))
                                        {
                                            title = pItem.communNamePropierties[stringProperty.Key];
                                        }

                                        string valorPropiedadAbreviada = valor;
                                        if (valorPropiedadAbreviada.Contains("/"))
                                        {
                                            valorPropiedadAbreviada = valorPropiedadAbreviada.Substring(valorPropiedadAbreviada.LastIndexOf("/") + 1);
                                        }


                                        string rdftypestring = "";
                                        if (pItem.communNamePropierties.ContainsKey(valor))
                                        {
                                            rdftypestring = pItem.communNamePropierties[valor];
                                        }

                                        <td title="@title">
                                            @if (!string.IsNullOrEmpty(rdftypestring))
                                            {
                                                <a href="@valor" target="_blank">@rdftypestring</a>
                                            }
                                            else
                                            {
                                                <a href="@valor" target="_blank">@valorPropiedadAbreviada</a>
                                            }
                                        </td>
                                    }
                                    else
                                    {
                                        bool transform = false;
                                        foreach (var propTransform in pPropsTransform)
                                        {
                                            if (propTransform.property.Contains(stringProperty.Key))
                                            {
                                                string uri = propTransform.transform.Replace("{value}", valor);

                                                <td>
                                                    <strong><a href="@uri" target="_blank">@valor</a> <a href="@uri" target="_blank"><span class="linkext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a></strong>
                                                    @{
                                                        List<Linked_Data_Server.Models.Entities.LinkedDataRdfViewModel.ProvenanceData> provenanceData = pItem.provenanceData.Where(x => x.property == stringProperty.Key && x.value == valor).ToList();
                                                        if (provenanceData.Count() > 0)
                                                        {
                                                            <a href="#" class="linkprovenancea"><span class="linkprovenance">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                            @*<img src="/theme/resources/provenance.png" class="btProvenance" alt="Provenance" />*@
                                                            @*<img src="~/theme/resources/provenance.png" alt="Provenance">*@
                                                            <table class="provenancetable" style="display:none">
                                                                <thead class="table-subject">
                                                                    <tr>
                                                                        <th scope="col" colspan="2">
                                                                            <span>Provenance</span>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (Linked_Data_Server.Models.Entities.LinkedDataRdfViewModel.ProvenanceData provenanceDataIn in provenanceData)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <strong>@provenanceDataIn.date.ToString("G", System.Globalization.CultureInfo.CreateSpecificCulture("es-ES"))</strong>
                                                                            </td>
                                                                            <td><strong>@provenanceDataIn.organization</strong></td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    }
                                                </td>
                                                transform = true;
                                            }
                                        }
                                        if (!transform)
                                        {
                                            <td>
                                                <strong>@valor</strong>
                                                @{
                                                    List<Linked_Data_Server.Models.Entities.LinkedDataRdfViewModel.ProvenanceData> provenanceData = pItem.provenanceData.Where(x => x.property == stringProperty.Key && x.value == valor).ToList();
                                                    if (provenanceData.Count() > 0)
                                                    {
                                                        <a href="#" class="linkprovenancea"><span class="linkprovenance">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                        @*<img src="/theme/resources/provenance.png" class="btProvenance" alt="Provenance" />*@
                                                        @*<img src="~/theme/resources/provenance.png" alt="Provenance">*@
                                                        <table class="provenancetable" style="display:none">
                                                            <thead class="table-subject">
                                                                <tr>
                                                                    <th scope="col" colspan="2">
                                                                        <span>Provenance</span>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @foreach (Linked_Data_Server.Models.Entities.LinkedDataRdfViewModel.ProvenanceData provenanceDataIn in provenanceData)
                                                                {
                                                                    <tr>
                                                                        <td>
                                                                            <strong>@provenanceDataIn.date.ToString("G", System.Globalization.CultureInfo.CreateSpecificCulture("es-ES"))</strong>
                                                                        </td>
                                                                        <td><strong>@provenanceDataIn.organization</strong></td>
                                                                    </tr>
                                                                }
                                                            </tbody>
                                                        </table>
                                                    }
                                                }
                                            </td>
                                        }
                                    }


                                }
                            </tr>
                                }
                            }
                            @foreach (var entitiesProperty in pItem.entitiesPropertiesEntity)
                            {
                                foreach (var valor in entitiesProperty.Value)
                                {
                                    string propiedadAbreviada = entitiesProperty.Key;
                                    if (propiedadAbreviada.Contains("/"))
                                    {
                                        propiedadAbreviada = propiedadAbreviada.Substring(propiedadAbreviada.LastIndexOf("/") + 1);
                                    }
                                    String title = "";

                                    if (pItem.communNamePropierties.ContainsKey(entitiesProperty.Key))
                                    {
                                        title = pItem.communNamePropierties[entitiesProperty.Key];
                                    }
                                    <tr>
                                        <td class="" title="@title">
                                            @if (!string.IsNullOrEmpty(title))
                                            {
                                                <strong>@title</strong>
                                            }
                                            else
                                            {
                                                <strong>@propiedadAbreviada</strong>
                                            }
                                            <a href="@entitiesProperty.Key" target="_blank"><span class="linkext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                        </td>
                                        <td class="">
                                            @{
                                                PintarItem(valor, false, pPropsTransform);
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>



                </div>



            </div>
        </div>
    }

    void PintarTablas(List<Linked_Data_Server.Models.Entities.Table> pTables)
    {
        foreach (var table in pTables)
        {
            <h2>@table.Name</h2>
            <table class="display datatable">
                <thead>
                    <tr>
                        @foreach (var header in table.Header)
                        {
                            <th scope="col">@header</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in table.Rows)
                    {
                        <tr>
                            @foreach (var field in row.fields)
                            {
                                @if (Uri.IsWellFormedUriString(field, UriKind.Absolute))
                                {
                                    Uri uri = new Uri(field);

                                    if (Context.Request.Host.Value == uri.Host)
                                    {
                                        <td>
                                            <a href="@field">@field</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <a href="@field" target="_blank">@field</a>
                                        </td>
                                    }
                                }
                                else
                                {
                                    @if (Uri.IsWellFormedUriString(field, UriKind.Absolute))
                                    {
                                        Uri uri = new Uri(field);
                                        if (Context.Request.Host.Value == uri.Host)
                                        {
                                            <td>
                                                <a href="@field">@field</a>
                                            </td>
                                        }
                                        else
                                        {
                                            <td>
                                                <a href="@field" target="_blank">@field</a>
                                            </td>
                                        }
                                    }
                                    else
                                    {
                                        <td>@field</td>
                                    }
                                }

                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    }

    void PintarArborGraphs(List<Linked_Data_Server.Models.Entities.ArborGraph> pArborGraphs)
    {
        int i = 0;
        foreach (var arborGraph in pArborGraphs)
        {
            <h2>@arborGraph.Name</h2>
            <canvas id="arborgraph_@i" width="800" height="600"></canvas>
            i++;
        }
    }

}

