@model Tuple<List<Linked_Data_Server.Models.Entities.DiscoverRdfViewModel>, Dictionary<string, string>, List<Linked_Data_Server.Models.Entities.Table>>

@{
    ViewData["BodyClass"] = "fichaRecurso";
}

<div class="row">    
    <div class="col col-12 col-lg-12 col-contenido">
        <div class="wrapCol">
            <div class="header-resource">
                <div class="h1-container">
                    <h1>@ViewData["Title"]</h1>
                </div>
            </div>
            @if (Model.Item1 != null)
            {
                int i = 0;
                foreach (Linked_Data_Server.Models.Entities.DiscoverRdfViewModel entity in Model.Item1)
                {
                    if (i == 1)
                    {
                        @foreach (var table in Model.Item3)
                        {
                            <h2>@table.Name</h2>
                            <table class="display datatable">
                                <thead>
                                    <tr>
                                        @foreach (var header in table.Header)
                                        {
                                            <th>@header</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var row in table.Rows)
                                    {
                                        <tr>
                                            @foreach (var field in row.fields)
                                            {
                                                <td>@field</td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        }
                        <h2>Entidades relacionadas</h2>
                    }
                    PintarItem(entity, i > 0, Model.Item2);
                    i++;
                }
            }



        </div>
    </div>
</div>



@functions
{
    void PintarItem(Linked_Data_Server.Models.Entities.DiscoverRdfViewModel pItem, bool pEntityLink, Dictionary<string, string> pPropsTransform)
    {

        <div class="contenido">
            <div class="grupo grupo-descripcion">
                <div class="estado-tarea">

                    <table class="rdftable">
                        <thead class="table-subject">
                            <tr>
                                <th colspan="2">
                                    @if (pEntityLink)
                                    {
                                        <span id="@pItem.uriEntity"><a href="@pItem.uriEntity">@pItem.uriEntity</a></span>
                                    }
                                    else
                                    {
                                        <span id="@pItem.uriEntity">@pItem.uriEntity</span>
                                    }
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var stringProperty in pItem.stringPropertiesEntity)
                            {
                                foreach (var valor in stringProperty.Value)
                                {
                                    string propiedadAbreviada = stringProperty.Key;
                                    if (propiedadAbreviada.Contains("/"))
                                    {
                                        propiedadAbreviada = propiedadAbreviada.Substring(propiedadAbreviada.LastIndexOf("/") + 1);
                                    }
                                    <tr>
                                        @{
                                            String title = "";
                                        }

                                        @if (pItem.communNamePropierties.ContainsKey(stringProperty.Key))
                                        {
                                            title = pItem.communNamePropierties[stringProperty.Key];
                                        }

                                        <td class="" title="@title">
                                            <b>@propiedadAbreviada</b>
                                            <a href="@stringProperty.Key" target="_blank"><span class="linkext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                        </td>

                                        @if (pItem.urisRdf.Contains(valor))
                                        {
                                            <td>
                                                <a href="@valor">
                                                    @valor
                                                </a>
                                            </td>
                                        }
                                        else
                                        {
                                            if (stringProperty.Key == "http://www.w3.org/1999/02/22-rdf-syntax-ns#type")
                                            {
                                                title = "";

                                                if (pItem.communNamePropierties.ContainsKey(stringProperty.Key))
                                                {
                                                    title = pItem.communNamePropierties[stringProperty.Key];
                                                }

                                                string valorPropiedadAbreviada = valor;
                                                if (valorPropiedadAbreviada.Contains("/"))
                                                {
                                                    valorPropiedadAbreviada = valorPropiedadAbreviada.Substring(valorPropiedadAbreviada.LastIndexOf("/") + 1);
                                                }
                                                <td title="@title">
                                                    <a href="@valor" target="_blank">@valorPropiedadAbreviada</a>
                                                </td>
                                            }
                                            else if (pPropsTransform.ContainsKey(stringProperty.Key))
                                            {
                                                string uri = pPropsTransform[stringProperty.Key].Replace("{value}", valor);

                                                <td>
                                                    <b><a href="@uri" target="_blank">@valor</a> <a href="@uri" target="_blank"><span class="linkext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a></b>
                                                    @{
                                                        List<Linked_Data_Server.Models.Entities.DiscoverRdfViewModel.ProvenanceData> provenanceData = pItem.provenanceData.Where(x => x.property == stringProperty.Key && x.value == valor).ToList();
                                                        if (provenanceData.Count() > 0)
                                                        {
                                                            <a href="#" class="linkprovenancea"><span class="linkprovenance">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                            @*<img src="/theme/resources/provenance.png" class="btProvenance" alt="Provenance" />*@
                                                            @*<img src="~/theme/resources/provenance.png" alt="Provenance">*@
                                                            <table class="provenancetable" style="display:none">
                                                                <thead class="table-subject">
                                                                    <tr>
                                                                        <th colspan="2">
                                                                            <span>Provenance</span>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (Linked_Data_Server.Models.Entities.DiscoverRdfViewModel.ProvenanceData provenanceDataIn in provenanceData)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <b>@provenanceDataIn.date.ToString("G", System.Globalization.CultureInfo.CreateSpecificCulture("es-ES"))</b>
                                                                            </td>
                                                                            <td><b>@provenanceDataIn.organization</b></td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    }
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <b>@valor</b>
                                                    @{
                                                        List<Linked_Data_Server.Models.Entities.DiscoverRdfViewModel.ProvenanceData> provenanceData = pItem.provenanceData.Where(x => x.property == stringProperty.Key && x.value == valor).ToList();
                                                        if (provenanceData.Count() > 0)
                                                        {
                                                            <a href="#" class="linkprovenancea"><span class="linkprovenance">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                                            @*<img src="/theme/resources/provenance.png" class="btProvenance" alt="Provenance" />*@
                                                            @*<img src="~/theme/resources/provenance.png" alt="Provenance">*@
                                                            <table class="provenancetable" style="display:none">
                                                                <thead class="table-subject">
                                                                    <tr>
                                                                        <th colspan="2">
                                                                            <span>Provenance</span>
                                                                        </th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (Linked_Data_Server.Models.Entities.DiscoverRdfViewModel.ProvenanceData provenanceDataIn in provenanceData)
                                                                    {
                                                                        <tr>
                                                                            <td>
                                                                                <b>@provenanceDataIn.date.ToString("G", System.Globalization.CultureInfo.CreateSpecificCulture("es-ES"))</b>
                                                                            </td>
                                                                            <td><b>@provenanceDataIn.organization</b></td>
                                                                        </tr>
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    }
                                                </td>
                                            }
                                        }
                                    </tr>
                                }
                            }
                            @foreach (var entitiesProperty in pItem.entitiesPropertiesEntity)
                            {
                                foreach (var valor in entitiesProperty.Value)
                                {
                                    string propiedadAbreviada = entitiesProperty.Key;
                                    if (propiedadAbreviada.Contains("/"))
                                    {
                                        propiedadAbreviada = propiedadAbreviada.Substring(propiedadAbreviada.LastIndexOf("/") + 1);
                                    }
                                    String title = "";

                                    if (pItem.communNamePropierties.ContainsKey(entitiesProperty.Key))
                                    {
                                        title = pItem.communNamePropierties[entitiesProperty.Key];
                                    }
                                    <tr>
                                        <td class="" title="@title">
                                            <b>@propiedadAbreviada</b>
                                            <a href="@entitiesProperty.Key" target="_blank"><span class="linkext">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></a>
                                        </td>
                                        <td class="">
                                            @{
                                                PintarItem(valor, false, pPropsTransform);
                                            }
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>



                </div>

                

            </div>
        </div>
    }
}

