<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["NameTitle"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- PERSONALIZACION TEMA -->
    <link media="screen" type="text/css" rel="stylesheet" href="~/theme/theme.css">
    <link media="screen" type="text/css" rel="stylesheet" href="~/theme/theme2.css">
    <link rel="alternate" href="@Context.Request.Host@Context.Request.Path" type="application/rdf+xml" title="Structured Descriptor Document (RDF/XML format)"/>
</head>
<body class="fichaRecurso detailsRdf">
    <header id="header">
        <div class="container-fluid">
            <div class="row">
                <div class="col col01">

                    <div class="logo">
                        <a>Hércules</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Linked_Data_Server 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>