<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link runat="server" rel="icon" type="image/x-icon" href="~/favicon.ico" />
    <title>@ViewData["Title"] - Hércules</title>

    <!--Default-->
    @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Fuentes-->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&amp;display=swap" rel="stylesheet">
    <!-- MATERIAL ICONS -->
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons&amp;op0ubx" media="all">
    <!-- BOOTSTRAP 4 + PROPELLER -->
    @*<link rel="stylesheet" href="~/theme/libraries/bootstrap/bootstrap.min.css">*@
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/theme/libraries/propeller/css/propeller.min.css" media="screen" type="text/css">
    <!-- LIGHTGALLERY -->
    <link media="screen" type="text/css" rel="stylesheet" href="~/theme/libraries/lightgallery/css/lightgallery.min.css">
    <!-- PERSONALIZACION TEMA -->
    <link media="screen" type="text/css" rel="stylesheet" href="~/theme/theme.css" asp-append-version="true">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/theme/static/style.css?v=2">
    <link rel="stylesheet" href="~/theme/static/style2.css">
    <link rel="stylesheet" href="~/theme/static/proyecto-fair.css">
    <!-- PERSONALIZACION Javi -->
    <link media="screen" type="text/css" rel="stylesheet" href="~/theme/checkbox_javi.css"  asp-append-version="true">
    <link rel="stylesheet" href="~/theme/yasgui_textarea.css">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="robots" content="noindex,nofollow">
    @Html.Raw(@ViewData["link_scripts"])
    @Html.Raw(@ViewData["MetaData"])
    <style>
        .cke {
            visibility: hidden;
        }
    </style>
</head>
<body class="@ViewData["BodyClass"] comunidad usuarioConectado" cz-shortcut-listen="true">
    <nav class="navbar navbar-default">
        <div class="nav-logos">
            <ul>
                <li>
                    <a href="javascript: void(0);">
                        <img src="~/theme/resources/logo-ministerio.png" alt="Ministerio">
                    </a>
                </li>
                <li>
                    <div class="presentacion">
                        <p class="titulo">Fondo de Desarrollo Regional (FEDER)</p>
                        <p>Una manera de hacer Europa</p>
                    </div>
                    <a href="javascript: void(0);">
                        <img src="~/theme/resources/logo-ue.png" alt="Union Europea">
                    </a>
                </li>
            </ul>
        </div>
        <partial name="_menupersonalizado" />
        @*<partial name="_menu" />*@
    </nav>
    @*<main role="main">*@
    @Html.Raw(@ViewData["SecondaryMenu"])
    <div class="container" id="contenido-principal">

        @RenderBody()
    </div>
    @*</main>*@
    
<div class="container-fluid franja-pie um">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <div class="caja-pie">
        <section id="pie">
            <div class="banda-pie row">
                <div class="col-md-7">
                    <div id="logo-um-pie">
                        <a href="https://www.um.es/" data-senna-off="true">
                            <img class="img-responsive" src="https://www.um.es/o/um-lr-genericov2-um-theme/images/logo-umu-pie.png" alt="Logo Universidad de Murcia">
                        </a>
                        <a href="https://www.um.es/web/hrs4r">
                            <img class="logo-hr" src="https://www.um.es/o/um-lr-genericov2-um-theme/images/logo-hr-500.png" alt="Logo Human Resources Strategy for Researchers">
                        </a>
                    </div>
                </div> <!-- .col-md-6 -->
                <div class="col-md-5 redes-pie">
                    <p>
                        <a href="https://www.um.es/actualidad/rss/index.php" target="_blank" title="RSS de la Universidad de Murcia">
                            <span class="fas fa-rss"></span>
                            <span class="sr-only">Acceder al feed RSS</span>
                        </a>
                        <a href="https://www.facebook.com/universidadmurcia" target="_blank" title="Perfil de Facebook de la Universidad de Murcia">
                            <span class="fab fa-facebook-f"></span>
                            <span class="sr-only">Acceder al perfil de Facebook</span>
                        </a>
                        <a href="https://twitter.com/UMU" target="_blank" title="Perfil de Twitter de la Universidad de Murcia">
                            <span class="fab fa-twitter"></span>
                            <span class="sr-only">Acceder al perfil de Twitter</span>
                        </a>
                        <a href="https://www.youtube.com/universidaddemurcia" target="_blank" title="Perfil de YouTube de la Universidad de Murcia">
                            <span class="fab fa-youtube"></span>
                            <span class="sr-only">Acceder al perfil de YouTube</span>
                        </a>
                        <a href="https://www.instagram.com/umu/" target="_blank" title="Perfil de Instagram de la Universidad de Murcia">
                            <span class="fab fa-instagram"></span>
                            <span class="sr-only">Acceder al perfil de Instagram</span>
                        </a>
                        <a href="https://www.ivoox.com/radio-um.es_sw_1_1.html" target="_blank" title="Podcast de Radio Um.es">
                            <span class="fas fa-microphone"></span>
                            <span class="sr-only">Acceder a Podcast de Radio Um.es</span>
                        </a>
                        <a href="https://t.me/UMUinforma" target="_blank" title="Telegram de la Universidad de Murcia">
                            <span class="fab fa-telegram-plane"></span>
                            <span class="sr-only">Acceder a Telegram de la Universidad de Murcia</span>
                        </a>
                        <a href="https://es.linkedin.com/school/universidad-de-murcia/" target="_blank" title="Perfil de Linkedin de la Universidad de Murcia">
                            <span class="fab fa-linkedin-in"></span>
                            <span class="sr-only">Acceder al perfil de Linkedin</span>
                        </a>
                    </p>
                </div> <!-- .col-md-6 -->
            </div> <!-- #banda-pie -->
            <div class="row">
                <div class="col-md-6 copyright-pie">
                    <p class="copyright-pie-titulo text-uppercase">Universidad de Murcia</p>
                    <p>
                        Avda. Teniente Flomesta, 5 · 30003 · Murcia
                        <br>Teléfono: +34 868 88 3000 (Centralita) / +34 868 88 8888 (Información)
                    </p>
                </div>
                <div class="col-md-6 como-llegar-pie">
                    <p><a href="https://www.um.es/departamentos">Departamentos</a> - <a href="https://www.um.es/servicios">Servicios</a></p>
                    <p><a href="https://www.um.es/web/universidad/campus-virtual">Aula Virtual</a> - <a href="https://general.um.es/general/inspeccion.buzon">Buzón Universitario</a> - <a href="https://www.um.es/web/universidad/lucha-contra-el-fraude" class="um-lr-gtm-principal-pie-fraude">Lucha contra el fraude</a> - <a href="http://dumbo.um.es/">Sistema DUMBO</a></p>
                    <p><a href="https://linkeddata2.um.es/carga-web/public/accesibilidad">Accesibilidad</a> - <a href="https://www.um.es/web/universidad/contenido/como-llegar">Cómo llegar</a> - <a href="https://www.um.es/web/emergencias">Emergencias</a> - <a href="https://www.um.es/web/ayuda/">Ayuda</a></p>
                </div>
            </div>
        </section> <!-- section pie -->
    </div>
</div>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/theme/static/proyecto-fair.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <partial name="_ValidationScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
